@{
    ViewBag.Title = "About";
}
<h2>About our services</h2>

<p>We provide accurate weather forecasts, vignette check, Developer Jokes and interesting Cat Facts! </p>

<img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F1131267600%2FAt-your-service-with-businessman-holding-a-tablet-computer%2F960x0.jpg%3Ffit%3Dscale" />
<br />
<br />
<iframe width="1000" height="711" src="https://www.youtube.com/embed/Bxllfk21Ejw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>