@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h3>Contact Us</h3>

<address>
    Professional Services Ltd.<br />
    Plovdiv, BG 40000<br />
    <abbr title="Phone">P:</abbr>
    08887887896
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@profservices.com">support@profservices.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@profservices.com">marketing@profservices.com</a>
</address>